<div class="p-3 d-flex fixed-bottom justify-content-end">
  <i
    class="material-icons p-3 bg-danger text-white rounded-circle"
    style="cursor: pointer"
    [routerLink]="['/shopping-cart']"
  >
    shopping_cart
  </i>
</div>
<div class="container mt-5 d-flex justify-contnet-evenly flex-wrap">
  <!-- card component -->
  <!-- props -->
  <app-card
    *ngFor="let product of this.productService.products"
    itemId="{{ product._id }}"
    title="{{ product.name }}"
    description="{{ product.description }}"
    btnColor="success"
    btnText="comprar"
    image="https://www.soymotero.net/sites/default/files/styles/max_width_800px/public/2014-11/2015_YAM_YZF1000R1_EU_MS1RB_STU_001_03.jpg"
    [stock]="10"
  ></app-card>
</div>
