<div class="d-flex justify-content-center">
  <div class="border p-3 rounded" style="width: 25rem">
    <h3 class="text-center pb-3">Registrarme</h3>

    <form #userForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Ingresa tu nombre"
          name="firstName"
          [ngModel]="this.userService.currentUser.firstName"
        />
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Ingresa tus apellidos"
          name="lastName"
          [ngModel]="this.userService.currentUser.lastName"
        />
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Correo electronico</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Dirección de correo electronico"
          name="email"
          [ngModel]="this.userService.currentUser.email"
        />
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Escribe una contraseña"
          name="password"
          [(ngModel)]="this.userService.currentUser.password"
        />
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirma la contraseña"
          name="confirmPassword"
          [(ngModel)]="this.userService.currentUser.confirmPassword"
        />
        <div *ngIf="this.userService.currentUser.password">
          <div
            class="form-text text-danger"
            *ngIf="
              this.userService.currentUser.password !==
                this.userService.currentUser.confirmPassword;
              else passwordsMatch
            "
          >
            Las contraseñas no coinciden
          </div>

          <ng-template #passwordsMatch>
            <div class="form-text text-success">Las contraseñas coinciden</div>
          </ng-template>
        </div>
      </div>
    </form>

    <button
      class="btn btn-success d-flex align-items-center"
      (click)="this.signUp(userForm)"
    >
      <i class="material-icons pe-2">person</i>
      Registrarme
    </button>
  </div>
</div>
